<!DOCTYPE hyml>
<html>
    <head>
        <title>Registration form</title>
    </head>
    <body>
        <h1 align="center">Education Form</h1>
        <form action="">
            <label for="">Name:</label>
            <input type="text" placeholder="Enter your name" required> <br><br>
            <label for="">Phone Number:</label>
            <input type="Number" placeholder="Enter your phone number" required maxlenth="11"> <br><br>
            <label for="">Genderr:</label>
            <input type="radio" name="Gender"> Male 
            <input type="radio" name="Gender"> Female
            <input type="radio" name="Gender"> Others <br><br>
            <label for="">Date of Birth:</label>
            <input type="date"> <br><br>
            <label for="">Address:</label>
               <input type="text" placeholder="Enter your Adress" required> <br><br>

            <label for="">Educational Qualification:</label>
            <select name="" id="">
                <option value="">select your option</option>
                <option value="">SSC</option>
                <option value="">HSC</option>
                <option value="">Graduation</option> 
            </select> <br><br>
            <label for="">Hobbies: </label>:</label>
            <input type="checkbox"> Playing
            <input type="checkbox"> Dancing
            <input type="checkbox"> Singing <br><br>
               <input type="Reset" value="Reset">
               <input type="Submit" value="Submit">
        </form>
    </body>
</html>